# Python cache
__pycache__/
*.pyc

# Virtual Environment (Very important!)
venv/
.venv/
env/
defect_defector/

# YOLO weights (These are too large for GitHub)
*.pt

# Database and logs
*.log
mongodb_data/
runs/
static/defects/

# OS files
.DS_Store
Thumbs.db